@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100%;
}

body {
  @apply bg-rer-app text-rer-text antialiased font-sans;
}

a:not([class]) {
  @apply text-rer-blue hover:text-rer-blue/80;
}

table {
  border-collapse: collapse;
}

th,
td {
  @apply align-top;
}

